---
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About She Leads Product";

---

<BaseLayout pageTitle={pageTitle}>

<h2>She Leads Product is a vibrant community of women learning, exchanging knowledge, growing together</h2>
</BaseLayout>
