---
// import Features2 from '~/components/widgets/Features2.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Save the date"
  
  >
    <Fragment slot="title">
      Thursday, February 27 | 8 PM <br />
      <span class="text-accent dark:text-white highlight"> SLP February Meet-up</span>
    </Fragment>

    <Fragment slot="subtitle">
      Join us for the next SheLeadsProduct.tech Round Table—a space for women in product to connect, learn, and grow together! 🚀 This month, we’ll dive into key challenges, share insights, and hear from inspiring PMs. Whether you’re breaking into product or leveling up, join the conversation!
    <br >
    <br >
    <a
      href="https://lu.ma/event/evt-npDKm1Kf3fvg7aE"
      class="luma-checkout--button"
      data-luma-action="checkout"
      data-luma-event-id="evt-npDKm1Kf3fvg7aE"
    >
      Register for Event
    </a>
    
    <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"></script>
  </Fragment>
      </Hero>
  


  <!-- Stats Widget ****************** -->




</Layout>