---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'She Leads Product',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>


  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="The Future of Tech is Female"
    image={{
      src: '~/assets/images/11528259.jpg',
      alt: 'papercut image designed by Freepik',
    }}
  >
  <Fragment slot="title">
    She Leads Product: <br /> A Community for <span class="text-accent dark:text-white highlight"
      >Women in Product</span>
    <br />
  </Fragment>
  
  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      Empowering women to lead, innovate, and make a difference in the tech industry.</span
    >
    Join us to connect, grow, and shape the future of product management together.
  </Fragment>
  </Hero2>
  


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
  id="Elevate & Empower"
  tagline="Elevate & Empower"
  title="Women Driving Change"
  subtitle="A vibrant community and platform designed to empower women in product management to learn, grow, and lead with confidence."
  items={[
    {
      title: 'Monthly Round Tables',
      description:
        'Engage in monthly discussions with women in product management at all career stages to exchange ideas, learn, and empower each other.',
      icon: 'tabler:circle',
    },
    // {
    //   title: 'Showcase Your Work',
    //   description:
    //     'A platform where you can present your projects, achievements, and passions, gaining recognition and visibility beyond your workplace.',
    //   icon: 'tabler:award',
    // },
    // {
    //   title: 'Tech News & Insights',
    //   description:
    //     'Stay informed with our blog featuring the latest in tech innovations, product management strategies, and essential tools.',
    //   icon: 'tabler:news',
    // },
    {
      title: 'Continuous Learning',
      description:
        'Grow together with a community that fosters lifelong learning, collaboration, and skill development for every stage of your journey.',
      icon: 'tabler:school',
    },
    {
      title: 'Empowerment & Support',
      description:
        'Be part of a network that celebrates resilience, collaboration, and the achievements of women in tech.',
      icon: 'tabler:heart',
    },
    {
      title: 'Shaping the Future of Tech',
      description:
        'Join a movement where women lead the way in creating innovative, inclusive, and impactful products.',
      icon: 'tabler:rocket',
    },
  ]}
/>


</Layout>